.footer {
  background-color: black;
  padding: 16px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  text-align: center;
}

.footer-text {
  color: white;
  font-size: 14px;
  margin: 5px 0;
}
