.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: black;
}

.brand {
  font-size: 24px;
  color: white;
  font-weight: bold;
}

.links-container {
  display: flex;
  align-items: center;
}

.nav-item {
  margin-left: 20px;
  color: white;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  cursor: pointer;
  transition: color 0.3s ease;
}

.nav-item:hover {
  color: #007bff;
}

@media (max-width: 1020px) {
  .links-container {
    display: none;
    align-items: center;
  }

  .navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    background-color: black;
  }
}
